<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.trainingsplan">

    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" />

    <queries>
        <intent>
            <action android:name="android.intent.action.TTS_SERVICE" />
        </intent>
    </queries>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Trainingsplan">
        <activity
            android:name=".UebungenOverviewActivity"
            android:label="Alle Übungen" />
        <activity
            android:name=".UebungenCreationActivity"
            android:label="Übung erstellen" />
        <activity
            android:name=".TrainingsplanUebungenActivity"
            android:label="Übungen" />
        <activity
            android:name=".TrainingsplanCreationActivity"
            android:label="Trainingsplan erstellen" />
        <activity
            android:name=".TrainingsplanActivity"
            android:label="Trainingspläne" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>